body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    max-width: 1200px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(20px) brightness(90%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    color: #fff;
    padding: 40px;
    text-align: center;
    border: 1px solid #fff;
    position: relative;
}
.container #loginForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container #userImg{
    position: relative;
    color: #fff;
    right: 20px;
}
.container .username {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    border: 1px solid #ffffff65;
    border-radius: 40px;
    background-color: #00000000;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
.container .username::placeholder {
    color: #fff;
    opacity: 0.5;
    font-weight: lighter;
}
.container .username:focus {
    border: 1px solid #ffffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container .password {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
    border: 1px solid #ffffff65;
    border-radius: 40px;
    background-color: #00000000;
    transition: background-color 0.3s ease, color 0.3s ease;
    outline: none;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.container .password:focus {
    border: 1px solid #ffffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container .password::placeholder {
    color: #fff;
    opacity: 0.5;
    font-weight: lighter;
}
.container .password:active{    
    border: 1px solid #ffffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container button {
    width: 100%;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #00000000;
    color: #fff;
    border: 1px solid #ffffff65;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: bold;
}
.container button:hover {
    border: 1px solid #ffffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container .username:hover {
    border: 1px solid #ffffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}.container .password:hover {
    border: 1px solid #ffffffff;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.container #rememberMe {
    background-image: url("");
}
.container a{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    margin-top: 10px;
    transition: color 0.3s ease;
}
.container a:hover {
    text-decoration: underline;
    transition: color 0.3s ease;
}
.container div{
    color: #fff;
    font-size: 1em;
    margin-top: 10px;
    transition: color 0.3s ease;
    padding: 10px;
    text-align: center;
}
div .other-options{
    text-align: left;
}
footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

@media screen and (max-height: 600px) {
    footer {
        display: none;
    }
    
}
